h1 {
    text-align: center;
}

.button {
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    width:10%;
}
  
.button .start {
    background-color: lightskyblue;
    padding: 1rem;
    transition: background-color 0.3s ease;
    width:100%;
    font-size: 32px;
}
  
.button .start:hover {
    background-color: blue;
}
  
.button .stop {
    background-color: salmon;
    padding: 1rem;
    transition: background-color 0.3s ease;
    width:100%;
    font-size: 32px;
}

.button .stop:hover {
    background-color: red;
}
  
.button .pause {
    background-color: orange;
    padding: 1rem;
    transition: background-color 0.3s ease;
    width:100%
}
  
.button .pause:hover {
    background-color: orangered;
}

.count-container{
    padding:1rem;
    text-align: center;
    background-color:black;
    color:aliceblue;
    font-size: 50px;
    width:10%;
    justify-content: center;
    margin:auto;
    display:flex;
}

.input-field{
    padding: 1rem;
    margin:1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    outline: none;

    margin:auto;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}

.input-field{
    border-color: #0077ff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(0, 119, 255, 0.3);
}